<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="IDBHelperConfig" value="YX.DB.MySqlHelper,YX.DB.MySql"/>
  </appSettings>
  <connectionStrings>
    <add name="Customers" connectionString="Data Sourse=PC_Mars;Database=Customers;User ID=sa;Password=xtigi123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>